<ion-content>
  <app-nav></app-nav>
  <div class="container">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <div class="table">
        <div class="thead">
          <div class="col">
            <div class="element">Data</div>
          </div>
          <div class="col">
            <div class="element">Nome</div>
          </div>
          <div class="col">
            <div class="element">Quantidade Anterior</div>
          </div>
          <div class="col">
            <div class="element">Quantidade Movimentada</div>
          </div>
          <div class="col">
            <div class="element">Tipo de Movimentação</div>
          </div>
        </div>
        <div class="tbody" *ngFor="let item of history|filter:search; index as i">
          <div class="col">
            <div class="element">{{ item.dataT | date:"dd/MM/yyyy h:mm" }}</div>
          </div>
          <div class="col">
            <div class="element">{{ item.itemT.nome }}</div>
          </div>
          <div class="col">
            <div class="element">{{ item.itemT.qtdpassado }}</div>
          </div>
          <div class="col">
            <div class="element">{{ item.itemT.qtdMovimentado }}</div>
          </div>
          <div class="col">
            <div class="element">{{ item.tipoT }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
