<ion-content>
  <app-nav></app-nav>
  <div class="container">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <!-- <div class="form">
        <input type="text" [(ngModel)]="nome" >
        <input type="text" [(ngModel)]="qtd" >
        <button type="button" (click)="addProduct()" >enviar</button>
      </div> -->
      <div class="control">
        <!-- <div class="options">
          <div class="button entrada">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="15px" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>Entrada</div>
          <div class="button saida"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="15px" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>Saída</div>
        </div> -->
        <input type="text" name="search" [(ngModel)]="search" class="search" placeholder="Pesquisa">
      </div>
      <div class="table">
        <div class="thead">
          <div class="col">
            <div class="element">Data de Criação</div>
          </div>
        <div class="col">
          <div class="element">Nome</div>
        </div>
        <div class="col">
          <div class="element">Quantidade</div>
        </div>
        <div class="last">
          <div class="element"></div>
        </div>
        </div>
        <div class="tbody" *ngFor="let product of products|filter:search; index as i">
          <div class="col">
            <div class="element"> {{ product.dataC | date:"dd/MM/yyyy h:mm" }}</div>
          </div>
          <div class="col">
            <div class="element" *ngIf="editar==false">{{ product.nome }}</div>
            <input type="text" [(ngModel)]="product.nome" *ngIf="editar==true" class="inputE">
          </div>
          <div class="col">
            <div class="element">{{ product.qtd }}</div>
          </div>
          <div class="last">
            <div class="button entrada" (click)="entrada(product)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="15px" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>Entrada
            </div>
            <div class="button saida" (click)="saida(product)" *ngIf="product.qtd > 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="15px" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>Saída
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
