.container {
  display: flex;
  flex-direction: row;
  background-color: #ebeae8;
  width: 100vw;
  min-height: 92vh;
}

.menu{
  width: 5vw;
  min-height: 92vh;
}

.content {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background-color: #ebeae8;
}

.button{
  text-align: center;
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80vw;
  background-color: white;
  height: 10vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-top: #017282 solid 5px;
  border-bottom: gray solid 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.options {
  display: flex;
  flex-direction: row;
}

// svg{
//   font-weight: bold;
//   font-size: 1.2vw;
// }

.entrada{
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-left: 9%;
  padding-right: 9%;
  width: 48%;
  height: 90%;
  font-size: 1.3vw;
  svg{
    height: 100%;
    width: 25%;
  }
}

.saida{
  margin-left: 2%;
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 48%;
  height: 90%;
  svg{
    height: 100%;
    width: 25%;
  }
  font-size: 1.5vw;
}

.saida:hover{
  opacity: 90%;
  transition: 0.4s;
}

.search{
  margin-right: 3vw;
  text-indent: 12%;
  background-color: #ebeae8;
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 45%;
  width: 15vw;
  height: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 72vh;
  overflow-y: scroll;
  font-size: 2vw;
}

.thead {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  font-weight: bold;
}

.tbody {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
}

.col {
  width: 20vw;
  height: 8vh;
  border-bottom: gray solid 1px;
}

.element{
  padding-left: 2%;
  padding-top: 4%;
}

.inputE{
  height: 7vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  text-indent: 2%;
  background-color: #ebeae8;
}

.last{
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 8vh;
  border-bottom: gray solid 1px;
}

@media only screen and (max-width: 900px){
  .table{
    font-size: 2.5vw;
  }
  .entrada{
    font-size: 2.5vw;
  }
  .saida{
    font-size: 3vw;
  }
  .search{
    text-indent: 20%;
  }
}

@media only screen and (max-width: 700px){
  .table{
    width: 90vw;
    font-size: 3vw;
  }

  .menu{
    width: 7vw;
  }

  .entrada{
    font-size: 2.9vw;
  }
  .saida{
    font-size: 3vw;
  }

  .control{
    width: 90vw;
  }

  .col{
    width: 25%;
  }

  .last{
    width: 25%;
  }

  .search{
    width: 40vw;
  }
}

@media only screen and (max-width: 400px){
  .table{
    font-size: 3.5vw;
  }
}
